.animate {
    position: absolute;
}
.slide-in-up {
    animation: slideInUp 1s;
}
.slide-in-down {
    animation: slideInDown 1s;
}
.slide-out-up {
    animation: slideOutUp 1s;
}

.slide-out-down {
    
    animation: slideOutDown 1s;
}

@keyframes slideInUp {
    from {top: 100vh;}
    to {top: 0}
}

@keyframes slideInDown {
    from {bottom: 0;}
    to {bottom: 100vh;}
}

@keyframes slideOutUp {
    from {bottom: 100vh;}
    to {bottom: 0;}
}

@keyframes slideOutDown {
    from {top: 0;}
    to {top: 100vh}
}