section.full-page {
    width: 100vw;
    height: 100vh;
}
.p-1 {
    // background: #ececec;
    background: #700;
}
.p-2 {
    // background: #595959;
    background: #070;
}
.p-3 {
    // background: #ececec;
    background: #007;
}
